In [ ]:
import pandas as pd
df1=pd.read_csv('./교통사고+현황(구별)_20260106162833_3.csv')

In [12]:
df1=pd.read_csv('./교통사고+현황(구별)_20260106162833_3.csv')

In [13]:
df1.columns

Index(['자치구별', '연도', '발생건수 (건)', '자동차 1만대당 발생건수 (건)', '사망자수 (명)',
       '인구 10만명당 사망자수 (명)', '부상자수 (명)', '인구 10만명당 부상자수 (명)'],
      dtype='object')

In [15]:
df1.head()

,자치구별,연도,발생건수 (건),자동차 1만대당 발생건수 (건),사망자수 (명),인구 10만명당 사망자수 (명),부상자수 (명),인구 10만명당 부상자수 (명)
0,소계,2020,"35,227",97.4,219,2.2,"47,513",479.4
1,종로구,2020,903,142.3,5,3.1,"1,224",769.8
2,중구,2020,955,145.7,6,4.5,"1,248",927.0
3,용산구,2020,890,92.9,12,4.9,"1,178",481.5
4,성동구,2020,"1,119",88.7,9,3.0,"1,481",492.8

In [20]:
df1.describe()

,연도,발생건수 (건),자동차 1만대당 발생건수 (건),사망자수 (명),인구 10만명당 사망자수 (명),부상자수 (명),인구 10만명당 부상자수 (명)
count,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000
mean,2022.000000,2617.138462,94.616923,16.538462,2.380769,3504.707692,485.010000
std,1.419684,6340.911080,24.628845,40.232686,1.384807,8495.227406,188.051075
min,2020.000000,522.000000,47.900000,2.000000,0.400000,671.000000,219.300000
25%,2021.000000,949.250000,77.925000,6.000000,1.600000,1249.000000,366.350000
50%,2022.000000,1246.000000,89.900000,8.000000,2.050000,1622.500000,426.650000
75%,2023.000000,1491.250000,109.075000,11.000000,2.875000,1949.000000,530.750000
max,2024.000000,35227.000000,155.200000,243.000000,12.200000,47513.000000,962.300000

In [22]:
corr_df = df1[[
    '발생건수 (건)',
    '부상자수 (명)',
    '사망자수 (명)',
    '자동차 1만대당 발생건수 (건)',
    '인구 10만명당 사망자수 (명)',
    '인구 10만명당 부상자수 (명)'
]]

In [23]:
corr_df.corr()

,발생건수 (건),부상자수 (명),사망자수 (명),자동차 1만대당 발생건수 (건),인구 10만명당 사망자수 (명),인구 10만명당 부상자수 (명)
발생건수 (건),1.000000,0.999926,0.989048,0.048161,-0.030581,0.039444
부상자수 (명),0.999926,1.000000,0.988577,0.048873,-0.030717,0.042377
사망자수 (명),0.989048,0.988577,1.000000,0.005713,0.037462,-0.005972
자동차 1만대당 발생건수 (건),0.048161,0.048873,0.005713,1.000000,0.333510,0.902128
인구 10만명당 사망자수 (명),-0.030581,-0.030717,0.037462,0.333510,1.000000,0.368208
인구 10만명당 부상자수 (명),0.039444,0.042377,-0.005972,0.902128,0.368208,1.000000

In [18]:
cols = ['발생건수 (건)', '부상자수 (명)']

for c in cols:
    df1[c] = (
        df1[c]
        .str.replace(',', '', regex=False)
        .astype(int)
    )

In [24]:
df1['사고당 사망률'] = df1['사망자수 (명)'] / df1['발생건수 (건)']

In [26]:
df1['사고당 부상률'] = df1['부상자수 (명)'] / df1['발생건수 (건)']

In [27]:
df1

,자치구별,연도,발생건수 (건),자동차 1만대당 발생건수 (건),사망자수 (명),인구 10만명당 사망자수 (명),부상자수 (명),인구 10만명당 부상자수 (명),사고당 사망률,사고당 부상률
0,소계,2020,35227,97.4,219,2.2,47513,479.4,0.006217,1.348767
1,종로구,2020,903,142.3,5,3.1,1224,769.8,0.005537,1.355482
2,중구,2020,955,145.7,6,4.5,1248,927.0,0.006283,1.306806
3,용산구,2020,890,92.9,12,4.9,1178,481.5,0.013483,1.323596
4,성동구,2020,1119,88.7,9,3.0,1481,492.8,0.008043,1.323503
...,...,...,...,...,...,...,...,...,...,...
125,관악구,2024,1254,90.4,13,2.6,1581,319.0,0.010367,1.260766
126,서초구,2024,2027,106.6,17,4.1,2959,716.3,0.008387,1.459793
127,강남구,2024,3754,138.8,11,2.0,4863,863.4,0.002930,1.295418
128,송파구,2024,2500,95.5,20,3.0,3424,521.7,0.008000,1.369600
129,강동구,2024,1428,79.9,9,1.9,1921,399.0,0.006303,1.345238

In [28]:
df1[['사고당 사망률', '사고당 부상률']].corr()

          사고당 사망률   사고당 부상률
사고당 사망률  1.000000  0.016911
사고당 부상률  0.016911  1.000000

In [33]:
df1.to_csv('df1.csv', encoding='cp949')