In [1]:
import pandas as pd

In [2]:
pd.read_csv('../data/pj2601_연도별등록합계.csv')

,합계,승용관용,승용자가용,승용영업용,승합관용,승합자가용,승합영업용,화물관용,화물자가용,화물영업용,특수관용,특수자가용,특수영업용
0,2022 합계,35563,38661,150080,119411,36865,140521,5855,141817,132284,115217,50593,14525
1,2023 합계,36448,38753,163117,119058,33110,145274,7658,134565,134336,123495,56612,12120
2,2024 합계,36865,39034,150353,133002,33166,142157,7009,145707,131528,149138,62604,11956

In [3]:
df = pd.read_csv('../data/pj2601_연도별등록합계.csv')

In [12]:
df['승용합계'] = df.iloc[:, 1:4].sum(axis=1)
df['승합합계'] = df.iloc[:, 4:7].sum(axis=1)
df['화물합계'] = df.iloc[:, 7:10].sum(axis=1)
df['특수합계'] = df.iloc[:, 10:13].sum(axis=1)

In [13]:
df

,합계,승용관용,승용자가용,승용영업용,승합관용,승합자가용,승합영업용,화물관용,화물자가용,화물영업용,특수관용,특수자가용,특수영업용,승용합계,승합합계,화물합계,특수합계
0,2022 합계,35563,38661,150080,119411,36865,140521,5855,141817,132284,115217,50593,14525,224304,296797,279956,180335
1,2023 합계,36448,38753,163117,119058,33110,145274,7658,134565,134336,123495,56612,12120,238318,297442,276559,192227
2,2024 합계,36865,39034,150353,133002,33166,142157,7009,145707,131528,149138,62604,11956,226252,308325,284244,223698

In [17]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [18]:
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
years = ['2022년', '2023년', '2024년']
metrics = ['양방', '유입', '유출']

NameError: name 'categories' is not defined

In [ ]:
plt.title('2022년~2023년 자동차 등록 현황')
plt.xlabel('도로 유형')
plt.ylabel('교통량 (양방)')
plt.grid(axis='y', linestyle='--', alpha=0.7)

plt.show()